.weather-form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #f9f9f9;
}

.weather-form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form-group {
    flex: 1 1 45%; /* Adjusts to two columns, with some space in between */
    min-width: 300px;
}

.input-field {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.check-disease-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.check-disease-button:hover {
    background-color: #45a049;
}

.prediction-result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.prediction-result h3 {
    margin-top: 0;
}

.prediction-result p {
    margin: 5px 0;
}

.prediction-result ul {
    list-style-type: disc;
    margin: 10px 0;
    padding-left: 20px;
}

.prediction-result li {
    margin: 5px 0;
}
